
<main>
    <h2>Home</h2>

    {{#each books}}
    <div>
        <h3>Titulo: {{this.title}}</h3>
        <p>Quantidade de páginas: {{this.pageqty}}</p>

        <div class="buttons">
            <a href="/book{{this.id}}" class="mais">Ver mais</a>
            <a href="/edit{{this.id}}" class="editar">Editar</a>
        </div>
    </div>
    {{/each}}

</main>