<h2>Editar Livro</h2>

<form action="/edit/save" method="POST">
    <input type="hidden" value="{{book.id}}" name= "id">

    <div>
        <label for="title">Título</label>
        <input type="text" name="title" placeholder="Digite o título:" id="title" value="{{book.title}}">
    </div>
       <div>
        <label for="pageqty">Número de páginas:</label>
        <input type="number" name="pageqty" placeholder="Quantas páginas o livro possui?" id="pageqty" value="{{book.pagepgty}}">
    </div>
<button type="submit">Enviar</button>
</form>