*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body{
    padding: 2rem;
}

ul,li{
    list-style: none;
}

header {
   margin-bottom: 2rem ;
   border-bottom: #ccc;
   padding-bottom: 1rem;
}

header h1 {
    margin-bottom: 1rem;
}

header ul {
    display: flex;
    gap: 3rem;
}

main > h2 {
    margin-bottom: 1rem;
}

.book {
    border: 1px solid #ccc;
    width: 30rem;
    padding: none;
    border-radius: 1rem;
}

.book + .book {
    margin-top: 1rem;
}
.buttons{
    display: flex;
    gap: 1rem;
    margin-top:0,5rem ;
    padding: .5rem;
    border-radius: .5rem;
}


.buttons a{
    display: block;
    text-decoration: none;
}

.buttons .mais {
    border: 1px solid #007bff;
    background: #007bff;
    color:white;

}
.buttons .mais:hover {
    background: white;
    color:#007bff;
}

.buttons .editar{
    border: 1px solid #ffc107;
    background: #ffc107;
    color: black;
}

.buttons .editar:hover{
    background: white;
    color: #ffc107;
}